<!-- Share -->

<!-- source: http://stackoverflow.com/questions/21215676/facebook-share-button-for-dynamic-url -->
<script language="javascript">
    function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>

<share class="share">
    <ul class="list-inline text-center">
        <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-related="rdj" href="{{ site.url }}{{ page.url }}"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-share-button" data-href="{{ page.url }}" data-layout="button" data-mobile-iframe="true" style="top: -7px;">
                <a class="fb-xfbml-parse-ignore" target="_blank" href="javascript:fbshareCurrentPage()"></a>
            </div>
        </li>
        <li>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}"></script>
        </li>
    </ul>
</share>
